params {
    process_qc   = 'low'      // Kiểm tra chất lượng
    process_mqc  = 'single'   // MultiQC báo cáo
}

process {
    cpus   = { 1 * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    withName:FASTQC {
        label params.process_qc
    }

    withName:MULTIQC {
        label params.process_mqc
    }
}

// Cấu hình tài nguyên cho từng nhóm process
process {
    withLabel:process_single {
        cpus   = 1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
        time   = 6.h
    }
}

